body {
  color: #000000;
  background: white;
  font-family: 'Inter', sans-serif;
  user-select: none;
}

#app {
  /* max-width: 40rem; */
  /* margin: 0rem auto; */
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* column-gap: 1rem;
  align-items: start;
  row-gap: 1rem; */
  background-color: #ffffff;
}

.badge {
  font-size: large;
}


.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.vid-mask {
  position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    padding: 10px 150px 100px 150px;
    background: #9e9e9e00;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 150px rgb(0 0 0 / 43%);
    border-radius: 15px;
    border: 1px solid lightgrey;
}
