body {
  color: #000000;
  background: white;
  font-family: "Inter", sans-serif;
  user-select: none;
}

#app {
   background-color: #ffffff;
  overflow: hidden;
}

.badge {
  font-size: large;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vid-mask {
  position: relative;
  top: 40%;
  left: 50%;
  width: 55%;
  height: 70%;
  background: #9e9e9e00;
  transform: translate(-50%, -50%);
  box-shadow: 0px 70px 0 100vh rgb(0 0 0 / 43%);
  border-radius: 15px;
  border: 1px solid lightgrey;
  overflow: hidden;
}

@keyframes crosshair {
  0% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

.scan-targetH {
  border-bottom: 2px solid rgb(255 0 0 / 49%);
  animation-name: crosshair;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  box-shadow: 0px 0 43px 3px rgb(255 0 0);
  width: 100%;
  position: absolute;
}
