body {
  color: #000000;
  background: white;
  font-family: 'Inter', sans-serif;
  user-select: none;
}

#app {
  /* max-width: 40rem; */
  /* margin: 0rem auto; */
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* column-gap: 1rem;
  align-items: start;
  row-gap: 1rem; */
  background-color: #ffffff;
}

.badge {
  font-size: large;
}


.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.vid-mask {
  position: absolute;
    top: 40%;
    left: 50%;
    width: 55%;
    height: 70%;
    background: #9e9e9e00;
    transform: translate(-50%, -50%);
    box-shadow: 0px 70px 0 100vh rgb(0 0 0 / 43%);
    border-radius: 15px;
    border: 1px solid lightgrey;
}

@keyframes crosshair {
  from {border-color: rgb(255 0 0 / 0%)}
  to {border-color: rgb(255 0 0 / 50%)}
}
.scan-targetV {
  border-right: 1px solid rgb(255 0 0 / 49%);
  animation-name: crosshair;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.scan-targetH {
  border-bottom: 1px solid rgb(255 0 0 / 49%);
  animation-name: crosshair;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.scan-box {
  /* transform: translate(-50%, -50%); */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  background: yellow;
}